ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  margin-left: 100px;
}

.signup {
  margin-right: 100px;
}

.logout {
  margin-right: 100px;
}

.spacer {
  flex: 1 1 auto;
}
