<div class="panel-div" *ngIf="post">
  <mat-expansion-panel [hideToggle]="true" expanded="true">
    <mat-expansion-panel-header>
      {{ post.topic }} | {{ post.title }}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <span class="content">
    <h5 class="createdBy">Created by: {{ post.creatorUsername }}</h5>
    <button
      class="like-btn"
      mat-icon-button
      color="primary"
      [disabled]="!userIsAuthenticated"
      (click)="onLikeClicked()">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{ post.likes }}
    </button>
  </span>
    <p>{{ post.content }}</p>
  </mat-expansion-panel>
</div>
