<!--<section class="hero">-->
  <!--<div class="hero__background">-->
    <!--<div class="hero__text">-->
      <!--<h1>Welcome To Post-It!<br>Have any thought?<br> Something to say? <br>Don't keep it, Post-It!</h1>-->
      <!--<h2>-->
        <!--MyMessages is a place where you can discuss and share with others.<br>-->
        <!--Upload imges, and share with us!-->
      <!--</h2>-->
      <!--<button mat-raised-button color="primary" type="button" (click)="onClick()">Go to posts</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<div class="jumbotron hero">
  <div class="hero__background">
    <div class="hero__text">
      <h1>Welcome To Post-It!<br>Have any thought?<br> Something to say? <br>Don't keep it, Post-It!</h1>
      <h2>
        MyMessages is a place where you can discuss and share with others.<br>
        Upload imges, and share with us!
      </h2>
      <button mat-raised-button color="primary" type="button" (click)="onClick()">Go to posts</button>
    </div>
  </div>
</div>
